/*https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .nav-link{
        @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md:block after:block after:content-[''] 
        after:absolute after:h-[3px] after:bg-[#55e6a5] after:w-full after:scale-x-0 after:hover:scale-x-100 
        after:transition after:duration-300 after:origin-center hidden
    }
    .nav-link-mobile{
        @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block after:block after:content-[''] 
        after:absolute after:h-[3px] after:bg-[#55e6a5] after:w-full after:scale-x-0 after:hover:scale-x-100 
        after:transition after:duration-300 after:origin-center
    }
}

/*
@apply:
This is a directive from PostCSS that allows you to use utility classes from Tailwind CSS. It's a way to compose classes in CSS.

relative: This sets the position of the element to relative.

font-semibold: This sets the font weight to semi-bold.

text-white: This sets the text color to white.

cursor-pointer: This changes the cursor to a pointer when hovering over the element.

text-[17px]: This sets the font size to 17px.

w-fit: This sets the width of the element to fit its content.

md:block: On medium screens and above, the element is displayed as a block element.

after:block, after:content-[''], after:absolute, etc.: These are pseudo-element selectors.
They style the ::after pseudo-element of the element. The ::after pseudo-element is used to insert content 
after the content of an element. In this case, it's being used to create a hover effect on the .nav-link element.
When you hover over the element, a yellow bar (3px high) scales to 100% width from 0% width, creating an animation effect.
hidden: This hides the element.

Please note that some of these classes like w-fit, after:hover:scale-x-100 are not standard Tailwind CSS classes and might be part of a custom configuration.
2524
*/